@page "/"
@inject IJSRuntime jsRuntime
@using BlazorMedia

<div style="display: flex; flex-direction: row; width: calc(100vw - 280px);">
    @* Wait for Selected device to be set *@
    @if (SelectedCamera.Length > 0)
    {
        <VideoMedia @ref="VideoMediaComponent"
                    Style="flex-basis: 50%; width: 50%;"
                    OnData="OnData"
                    OnError="OnError"
                    OnFPS="OnFPS"
                    OnInitialize="OnInitialize"
                    Timeslice="100"
                    Width="@Width"
                    Height="@Height"
                    RecordAudio="true"
                    CameraDeviceId="@SelectedCamera"
                    MicrophoneDeviceId="@SelectedMicrophone"
                    Framerate="@Framerate" />
    }
    <img src="@PictureData" style="flex-basis: 50%; width: 50%;" />
</div>
<div>
    <button @onclick="OnTakePhotoPressed">Take Photo</button>
</div>


@if (Cameras.Count > 0)
{
    <div>
        <label for="cameras">Cameras: </label>
        <select id="cameras" value="@SelectedCamera" @onchange="OnCameraSelected">
            @foreach (MediaDeviceInfo mdi in Cameras)
            {
                <option value="@mdi.DeviceId">@mdi.Name</option>
            }
        </select>
        <p>Selected Camera:@(SelectedCamera)</p>
    </div>
}


